ENV=PROD
COMPOSE_PROJECT_NAME=geo-device
LOGGING_LEVEL_NAME=INFO

API_PORT=8000
API_WORKERS=1
API_ALLOWED_HOSTS=["*"]

POSTGRES_DATABASE=geodevice
POSTGRES_USER=geodevice_user
POSTGRES_PASSWORD=geodevice_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_POOL_SIZE=10
POSTGRES_MAX_OVERFLOW=10
POSTGRES_TEST_DATABASE=geodevice_test

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
