ENV=PROD
COMPOSE_PROJECT_NAME=geo-device
LOGGING_LEVEL_NAME=INFO

API_NAME=geo-device
API_VERSION=1.0.0
API_PORT=8000
API_WORKERS=1
API_ALLOWED_HOSTS=["*"]
API_ALLOW_CREDENTIALS=true
API_ALLOWED_METHODS=["*"]
API_ALLOWED_HEADERS=["*"]

POSTGRES_DATABASE=geodevice
POSTGRES_TEST_DATABASE=geodevice_test
POSTGRES_USER=geodevice_user
POSTGRES_PASSWORD=geodevice_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_POOL_SIZE=10
POSTGRES_MAX_OVERFLOW=10
POSTGRES_POOL_TIMEOUT_S=10.0
POSTGRES_CONNECT_TIMEOUT_S=5.0
POSTGRES_COMMAND_TIMEOUT_S=15.0
POSTGRES_HEALTHCHECK_TIMEOUT_S=3.0

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_SOCKET_TIMEOUT_S=5.0
REDIS_CONNECT_TIMEOUT_S=5.0
REDIS_HEALTHCHECK_TIMEOUT_S=3.0

INGEST_WORKERS=4
INGEST_CHUNK_SIZE=500
INGEST_MAX_HTTP_BATCH_SIZE=1000
INGEST_BACKLOG_LIMIT=200000
INGEST_STREAM_MAX_LEN=4000
INGEST_DRAIN_TIMEOUT_S=10.0
INGEST_ZONE_ENTRY_TTL_S=60
INGEST_POSITION_FLUSH_INTERVAL_S=1.0
INGEST_MAX_PING_AGE_S=86400
INGEST_MAX_PING_SKEW_S=300
INGEST_RETENTION_DAYS=7
INGEST_RETENTION_INTERVAL_S=3600.0
INGEST_RETENTION_BATCH_SIZE=50000

REALTIME_QUEUE_SIZE=64
